*.LDT
__pycache__/
*.lgr
*.eps
*.vcg
*.csv
validate_lgr_file
tgff_to_unprocessed_lingo
input_file_processor
*lex.yy*
.vscode/
ddg_generator.tgffopt
lex.cc
LGRParserBase.h
list_scheduler
solution_validator
graph_generator
model_customizer.ltf
limited_to_selective_converter
txt_to_vcg
make_simon_dag
make_nn_dag
