level_testing/
*.LDT
__pycache__/
*.lgr
*.eps
*.vcg
*.csv
*lex.yy*
.vscode/
ddg_generator.tgffopt
lex.cc
LGRParserBase.h
model_customizer.ltf
*.out
profile.txt
*.o
results/
DDGs/
DAGs/*/*
!*.seed
*tgff*
CPP_code/benchmark_generation/*.txt
CPP_code/execution_engine/build/
*.pdf
*.png
*.ipynb_checkpoints/
*.t2
lgrp.cc
